layout {

    focus-ring {
        active-color   "#2ea9fc"
        inactive-color "#151a1e"
        urgent-color   "#e74c3c"
    }

    border {
        active-color   "#2ea9fc"
        inactive-color "#151a1e"
        urgent-color   "#e74c3c"
    }

    shadow {
        color "#0a0c0e70"
    }

    tab-indicator {
        active-color   "#2ea9fc"
        inactive-color "#004778"
        urgent-color   "#e74c3c"
    }

    insert-hint {
        color "#2ea9fc80"
    }
}

recent-windows {
    highlight {
        active-color "#2ea9fc"
        urgent-color "#e74c3c"
    }
}
